.accordion__toggle {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-image: url("../img/icon-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  margin-top: 12px;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.accordion__toggle--contacts {
  margin-top: 0;
  margin-bottom: 32px;
}

.accordion__toggle--inactive {
  background-image: url("../img/icon-plus.svg");
}

.accordion__pane--hidden {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
