.advantages {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 109px;

  @media (max-width: $desktop-width) {
    width: 720px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.advantages__block {
  padding: 98px 43px 49px 45px;
  width: 570px;
  border: 1px solid $light-grey;
  border-left: 2px solid $blue;
  margin-bottom: 30px;

  &:hover {
    background-color: $blue;
  }

  @media (max-width: $desktop-width) {
    padding: 70px 26px 12px 27px;
    width: 345px;
  }

  @media (max-width: $tablet-width) {
    padding: 71px 12px 20px 27px;
    width: 290px;
  }
}

.advantages__block h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
}

.advantages__block p {
  line-height: 22px;
  color: $grey;
}

.advantages__block:hover h3 {
  color: $white;
}

.advantages__block:hover p {
  color: $white;
}
