.advantages__wrapper {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 109px;

  @media (max-width: $desktop-width) {
    width: 720px;
    padding-top: 54px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    padding-top: 37px;
  }
}

.advantages__block {
  padding: 98px 36px 49px 51px;
  width: 570px;
  border: 1px solid $light-grey;
  border-left: 2px solid $blue;
  margin-bottom: 30px;
  min-height: 299px;
  position: relative;
  z-index: 5;
  background-color: $white;

  &:hover {
    background-color: $blue;
  }

  &:hover svg {
    fill: $white;
  }

  @media (max-width: $desktop-width) {
    padding: 66px 19px 4px 27px;
    width: 345px;
    min-height: 306px;
  }

  @media (max-width: $tablet-width) {
    padding: 71px 10px 9px 27px;
    width: 290px;
    min-height: 310px;
    margin-bottom: 20px;
  }
}

.advantages__block--time {
  padding: 98px 36px 49px 51px;
  position: relative;

  @media (max-width: $desktop-width) {
    padding: 66px 19px 4px 27px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 73px;
  }
}

.advantages__block-icon {
  fill: $blue;
  position: absolute;
  top: 42px;
  left: 50px;

  @media (max-width: $desktop-width) {
    top: 24px;
    left: 25px;
  }
}

.advantages__block--second-line {
  @media (max-width: $desktop-width) {
    min-height: 232px;
    padding: 70px 19px 4px 27px;
  }

  @media (max-width: $tablet-width) {
    padding: 70px 10px 4px 27px;
  }
}

.advantages__block h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__block--second-line h3 {
  margin-top: -5px;
}

.advantages__block p {
  line-height: 22px;
  color: $grey;

  @media (max-width: $desktop-width) {
    margin-top: 8px;
  }
}

.advantages__block--second-line p {
  @media (max-width: $tablet-width) {
    margin-top: 15px;
  }
}

.advantages__block:hover h3 {
  color: $white;
}

.advantages__block:hover p {
  color: $white;
}
