.company {
  width: 1170px;
  margin: 0 auto;
  padding-top: 74px;
  padding-bottom: 108px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/year.jpg");
    background-repeat: no-repeat;
    width: 220px;
    height: 317px;
    top: 79px;
    left: -22px;
    z-index: -1;

    @media (max-width: $desktop-width) {
      top: 24px;
      left: -33px;
      width: 251px;
      height: 362px;
      background-size: 100%;
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $desktop-width) {
    width: 720px;
    padding-top: 29px;
    padding-bottom: 84px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
    padding-top: 40px;
    padding-bottom: 63px;
  }
}

.company__wrapper {
  padding-left: 186px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}

.company__wrapper h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $grey;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;

  @media (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.company__wrapper p {
  line-height: 22px;
  color: $grey;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  @media (max-width: $tablet-width) {
    margin-bottom: 33px;
    margin-top: 25px;
  }
}

.company__wrapper span {
  line-height: 22px;
  color: $grey;
  margin: 0;
  padding: 0;
  display: block;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.company__button {
  color: $blue;
  border-color: $blue;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 40px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}
