.contacts-header {
  display: flex;
  flex-wrap: wrap;
  width: 659px;
  padding: 0;
  margin: 0;

  @media (max-width: $desktop-width) {
    width: 72px;
  }
}

.contacts-header__link-wrapper {
  padding-top: 15px;
}

.contacts-header__link-wrapper--tel {
  margin-left: 88px;
  margin-right: auto;
}

.contacts-header__link {
  font-size: 16px;
  line-height: 18px;
  color: $white;
  text-decoration: none;
  margin: 0;
  padding: 0;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.contacts-header__link-icon--mail {
  margin-right: 11px;

  @media (max-width: $desktop-width) {
    width: 25px;
    height: 19px;
  }
}

.contacts-header__link-icon--tel {
  margin-right: 6px;

  @media (max-width: $desktop-width) {
    width: 24px;
    height: 24px;
  }
}

.contacts-header__button {
  width: 180px;
  align-self: center;

  @media (max-width: $desktop-width) {
    display: none;
  }
}
