.form {
  background-color: $blue;
  background-image: url("../img/form-background-1.png"), url("../img/form-background-2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 1641px 42px, 1577px 288px;
  background-size: 14%, 18%;
}

.form__container {
  width: 1205px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 95px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop-width) {
    width: 591px;
    padding-top: 80px;
    padding-bottom: 83px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    padding-top: 30px;
    padding-bottom: 48px;
  }
}

.form__image-wrapper {
  margin-top: 70px;
  width: 511px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.form__wrapper {
  width: 580px;

  @media (max-width: $desktop-width) {
    width: 591px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.form__wrapper h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @media (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 16px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 13px;
  }
}

.form__wrapper p {
  line-height: 22px;
  color: $white;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;

  @media (max-width: $desktop-width) {
    margin-bottom: 53px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.form__field {
  width: 570px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $desktop-width) {
    width: 591px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.form__field input {
  width: 270px;
  line-height: 22px;
  color: $white;
  background-color: rgba($white, 0.1);
  padding: 14px 16px;
  margin-bottom: 40px;
  border: 1px solid transparent;

  &::placeholder {
    line-height: 22px;
    color: $white;
  }

  @media (max-width: $desktop-width) {
    width: 280px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    margin-bottom: 30px;
  }
}

.form__textarea textarea {
  width: 570px;
  height: 154px;
  line-height: 22px;
  background-color: rgba($white, 0.1);
  color: $white;
  padding: 14px 16px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  resize: none;

  &::placeholder {
    line-height: 22px;
    color: $white;
  }

  @media (max-width: $desktop-width) {
    width: 591px;
    height: 161px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    margin-bottom: 25px;
    height: 104px;
  }
}

.form__submit {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__button {
  width: 270px;
  align-self: center;

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.form__submit p {
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
  width: 230px;
}
