.form {
  background-color: $blue;
  background-image: url("../img/paper-airplane.png"), url("../img/form-background-1.png"), url("../img/form-background-2.png"), url("../img/form-background-3.png"), url("../img/form-background-4.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 346px 161px, 1641px 42px, 1577px 288px, 209px -61px, 176px 206px;
  background-size: 27%, 14%, 18%, 33.5%, 19.5%;

  @media (max-width: $desktop-width) {
    background-size: 0, 0, 0, 0, 0;
  }
}

.form__container {
  width: 1205px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 111px;

  @media (max-width: $desktop-width) {
    width: 591px;
    padding-top: 80px;
    padding-bottom: 104px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    padding-top: 30px;
    padding-bottom: 37px;
  }
}

.form__wrapper {
  width: 580px;
  margin-left: 626px;

  @media (max-width: $desktop-width) {
    width: 591px;
    margin-left: 0;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.form__wrapper h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @media (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 16px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 13px;
  }
}

.form__wrapper p {
  line-height: 22px;
  color: $white;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;

  @media (max-width: $desktop-width) {
    margin-bottom: 53px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.form__field {
  width: 570px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $desktop-width) {
    width: 591px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.form__field input {
  width: 270px;
  line-height: 22px;
  color: $white;
  background-color: rgba($white, 0.1);
  padding: 14px 16px;
  margin-bottom: 40px;
  border: 1px solid transparent;

  &:hover,
  :focus {
    background-color: rgba($white, 0.3);
  }

  &::placeholder {
    line-height: 22px;
    color: $white;
  }

  @media (max-width: $desktop-width) {
    width: 280px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    margin-bottom: 30px;
  }
}

.form__textarea textarea {
  width: 570px;
  height: 154px;
  line-height: 22px;
  background-color: rgba($white, 0.1);
  color: $white;
  padding: 14px 16px;
  margin-bottom: 39px;
  border: 1px solid transparent;
  resize: none;

  &:hover,
  :focus {
    background-color: rgba($white, 0.3);
  }

  &::placeholder {
    line-height: 22px;
    color: $white;
  }

  @media (max-width: $desktop-width) {
    width: 591px;
    height: 161px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
    margin-bottom: 25px;
    height: 104px;
  }
}

.form__submit {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 570px;

  @media (max-width: $desktop-width) {
    width: 583px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.form__button {
  width: 270px;
  align-self: center;

  &:hover {
    background-color: rgba($grey, 0.5);
  }

  &:active {
    background-color: rgba($grey, 0.3);
  }

  @media (max-width: $desktop-width) {
    width: 281px;
  }

  @media (max-width: $tablet-width) {
    width: 290px;
  }
}

.form__submit label {
  width: 230px;
  margin-top: 2px;
  position: relative;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 26px;
  }
}

.form__submit span {
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid $white;
    top: 6px;
    left: -31px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    width: 8px;
    height: 5px;
    top: 11px;
    left: -27px;
    display: none;
  }
}

.form__submit input:checked + .form__checkbox::after {
  display: block;
}
