*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: $white;
  color: $black;
  font-family: "PT Mono", "Courier New", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.page-body h1 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
