.page-footer {
  padding-top: 65px;

  @media (max-width: $desktop-width) {
    position: relative;
    padding-top: 19px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 46px;
  }
}

.page-footer__wrapper {
  width: 1426px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 60px;

  @media (max-width: $desktop-width) {
    width: 717px;
    padding-bottom: 44px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.page-footer__socials {
  width: 216px;
  margin-left: 13px;

  @media (max-width: $desktop-width) {
    width: 717px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__socials-container {
  display: flex;
  justify-content: space-between;
  width: 112px;
  margin-top: 48px;

  @media (max-width: $desktop-width) {
    margin-top: 12px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 82px;
  }
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 990px;

  @media (max-width: $desktop-width) {
    width: 707px;
    margin-top: 65px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.page-footer__nav {
  width: 516px;

  @media (max-width: $desktop-width) {
    width: 243px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.page-footer__nav h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  color: $dark;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.page-footer__copyright {
  width: 1425px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    width: 717px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.page-footer__copyright p {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark;
  opacity: 0.5;
}

.page-footer__copyright-first {
  margin-left: 13px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-footer__copyright-second {
  margin-left: 74px;
  margin-right: 142px;

  @media (max-width: $desktop-width) {
    position: absolute;
    top: 23px;
    left: 57.1%;
    transform: translateX(-50%);
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    top: 111px;
    left: 50.1%;
  }
}

.page-footer__copyright-third {
  margin-right: auto;
}
